*.o
*.d
*.asm
*.sym
*.S
fs.img
kernel
mkfs
_cat
_congen
_cowtest
_echo
_forktest
_grep
_grind
_init
_kill
_ln
_ls
_mkdir
_ps
_mkdir
_rm
_schedls
_schedset
_sh
_stressfs
_wc
_zombie
_time
_usertests
_vatopa
initcode